*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 70%;
    height: 80%;
    left: 15%;
    top: 10%;
    background-color: aqua;
    position: absolute;
    border: 2px solid cadetblue;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    height: 80%;
    left: 15%;
    top: 10%;
    background-color: pink;
    position: absolute;
    margin: 0 auto;
}

.card {
    width: 250px;
    height: 425px;
    margin-top: 10%;
    background-color: yellow; 
}